---  
layout: main 
title: Home
exclude_from_nav: true
---

<p><b>2/10/2019</b>: {% include hwRef.html hwLabel = "Lab 4" %} posted (Due: Wednesday, 2/20/19)</p>
<p><b>2/06/2019</b>: {% include hwRef.html hwLabel = "Lab 3" %} posted (Due: Monday, 2/11/19)</p>
<p><b>2/02/2019</b>: {% include hwRef.html hwLabel = "Lab 2" %} will be due Wednesday, 2/6/19 instead of Monday; Lab 1 redos are due by Sunday at 5:00 PM</p> 
<p><b>1/30/2019</b>: {% include hwRef.html hwLabel = "Lab 2" %} posted (Due: Monday, 2/04/19)</p> 
<p><b>1/29/2019</b>: Reminder that {% include hwRef.html hwLabel = "Lab 1" %} is due Wednesday, 1/30/19)</p> 
<p><b>1/17/2019</b>: Welcome to <b style = "color: red"> Big Data Programming and Management </b> for the Spring 2019 Semester! This page will be used to provide course material for CSC-343.  Please see the links above for more information. </p>

